@font-face {
    font-family: 'EntypoSocialRegular';
    src: url("../fonts/entypo-social.eot");
    src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#EntypoRegular") format("svg");
    font-weight: normal;
    font-style: normal
}

.entypo-social {
    font-family: 'EntypoSocialRegular';
    font-size: 2em;
    font-weight: normal;
    line-height: 0
}

i.entypo, i.entypo-social {
    min-width: 0.625em;
    height: inherit;
    margin: 0 0.15625em;
    font-style: normal;
    display: inline-block;
    position: static;
    text-align: center;
    vertical-align: middle
}

.entypo-social.github:before {
    content: '\F300'
}

.entypo-social.twitter:before {
    content: '\F309'
}

body {
  padding-top: 50px;
  padding-bottom: 170px;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #4ea3d0;
}

.navbar-brand {
    background: url(../img/logo_i_guess_sm.png) no-repeat 0px 10px;
    padding-left: 35px;
}

.navbar-toggle .icon-bar {
    background-color: #2a6496;
}

.navbar-toggle:hover {
    background-color: #f5f5f5;
}

#install-scripts h2 {
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
}

#quick-start pre {
    margin-bottom: 20px;
}
