<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vagrant Provisioning Bash Scripts">
    <meta name="author" content="Fideloper">
    <link rel="shortcut icon" href="img/logo_i_guess_sm.png">

    <title>{{ page.title }}</title>

    <link href="css/bootstrap.min.css?v3.1.0" rel="stylesheet">
    <link href="css/style.css?v1.0.2" rel="stylesheet">
    <link href="css/syntax.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>