<aside class="col-md-3">
    <h3>Install Scripts</h3>
    <div class="list-group">
        <a href="install-scripts.html#base" class="list-group-item">Base</a>
        <a href="install-scripts.html#oh-my-zsh" class="list-group-item">Oh-My-Zsh</a>
        <a href="install-scripts.html#php" class="list-group-item">PHP</a>
        <a href="install-scripts.html#vim" class="list-group-item">Vim</a>
        <a href="install-scripts.html#screen" class="list-group-item">Screen</a>
        <a href="install-scripts.html#apache" class="list-group-item">Apache</a>
        <a href="install-scripts.html#hhvm" class="list-group-item">HHVM</a>
        <a href="install-scripts.html#nginx" class="list-group-item">Nginx</a>
        <a href="install-scripts.html#couchbase" class="list-group-item">Couchbase</a>
        <a href="install-scripts.html#couchdb" class="list-group-item">CouchDB</a>
        <a href="install-scripts.html#mariadb" class="list-group-item">MariaDB</a>
        <a href="install-scripts.html#mongodb" class="list-group-item">MongoDB</a>
        <a href="install-scripts.html#mysql" class="list-group-item">MySQL</a>
        <a href="install-scripts.html#pgsql" class="list-group-item">PostgreSQL</a>
        <a href="install-scripts.html#sqlite" class="list-group-item">SQLite</a>
        <a href="install-scripts.html#memcached" class="list-group-item">Memcached</a>
        <a href="install-scripts.html#redis" class="list-group-item">Redis</a>
        <a href="install-scripts.html#elasticsearch" class="list-group-item">ElasticSearch</a>
        <a href="install-scripts.html#beanstalkd" class="list-group-item">Beanstalkd</a>
        <a href="install-scripts.html#heroku" class="list-group-item">Heroku</a>
        <a href="install-scripts.html#supervisord" class="list-group-item">Supervisord</a>
        <a href="install-scripts.html#nodejs" class="list-group-item">NodeJS</a>
        <a href="install-scripts.html#node_packages" class="list-group-item">NodeJS Packages</a>
        <a href="install-scripts.html#ruby" class="list-group-item">Ruby and Packages</a>
        <a href="install-scripts.html#composer" class="list-group-item">Composer</a>
        <a href="install-scripts.html#laravel" class="list-group-item">Laravel</a>
        <a href="install-scripts.html#symfony" class="list-group-item">Symfony</a>
        <a href="install-scripts.html#phpunit" class="list-group-item">PHPUnit</a>
        <a href="install-scripts.html#mailcatcher" class="list-group-item">MailCatcher</a>
        <a href="install-scripts.html#gitftp" class="list-group-item">git-ftp</a>
        <a href="install-scripts.html#zeromq" class="list-group-item">ØMQ</a>
</aside>
